.circleTop{

    width: 978px;
    height: 976px;
    transform: rotate(0deg);
    flex-shrink: 0;
    margin-left: -50%;

}
.circleBottom{
 
    width: 978px;
    height: 976px;
    transform: rotate(0deg);
    flex-shrink: 0;
    margin-left: 50%;
}

