html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color:  #19A1AE;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

